.panel__container {

    min-width: 40px;
    width: 1000px;

    min-height: 40px;

    padding: 20px;

    // background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    
    // border-radius: 20px;
    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
    // backdrop-filter: blur(10px);
    // -webkit-backdrop-filter: blur(10px);
    
    // border: 1px solid rgba(255, 255, 255, 0.18);
    
    background: rgba(255, 255, 255, 0.1);

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    border: 1px solid rgba(255, 255, 255, 0.3);

    opacity: 0;

    transition: 200ms opacity ease-in-out;

    &.active {

        opacity: 1;
    }
}
