.panel__container {

    min-width: 40px;
    width: 400px;

    min-height: 600px;

    margin: 0 20px;
    padding: 32px;

    // background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));

    // border-radius: 20px;
    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    // backdrop-filter: blur(10px);
    // -webkit-backdrop-filter: blur(10px);

    // border: 1px solid rgba(255, 255, 255, 0.18);

    background: rgba(255, 255, 255, 0.1);

    border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);

    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    // border: 1px solid rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    
    display: inline-block;

    @keyframes panelFadeIn {

        from { opacity: 0; }
        to { opacity: 1; }
    }
    
    animation: 200ms panelFadeIn ease-in-out;

    .title {

        margin: 0 0 20px;
    }
}
