.arrow__container {

    min-width: 56px;
    min-height: 56px;

    margin: 0 auto;

    background: rgba(255, 255, 255, 0.1);
    border: none;

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.pointer--active {

        cursor: pointer;

        &:hover, &:active, &:focus {

            background: rgba(255, 255, 255, 0.2);
        }
        &:focus {

            outline: 1px solid #000;
        }
    }

    &:disabled {

        cursor: not-allowed;
    }

    .arrow__content {
    
        width: 20px;
        height: 20px;

        border: 4px solid #000;
    
        transform: rotate(45deg);
    
        &.face--right {
    
            border-left: none;
            border-bottom: none;
        }
    
        &.face--left {
    
            border-top: none;
            border-right: none;
        }
    }
}
