.arrow__container {

    width: 40px;
    height: 40px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    &.pointer--active {

        cursor: pointer;
    }

    .arrow__content {
    
        width: 25px;
        height: 25px;

        border: 2px solid #000;
    
        transform: rotate(45deg);
    
        &.face--right {
    
            border-left: none;
            border-bottom: none;
        }
    
        &.face--left {
    
            border-top: none;
            border-right: none;
        }
    }
}
