.button-arrow__container {

    min-width: 56px;    
    min-height: 56px;

    margin: 0 auto;

    background: rgba(255, 255, 255, 0.2);
    border: none;

    font-size: 16px;

    display: inline-block;

    &.pointer--active {

        cursor: pointer;

        &:hover, &:active, &:focus {

            background: rgba(255, 255, 255, 0.25);
        }
        &:focus {

            outline: 1px solid #000;
        }

        &.face--right:active, &.face--left:active {

            background: rgba(255, 255, 255, 0.1);

            transform: scale(0.98);

            box-shadow:
                inset 2px 2px 5px 0 rgba(0, 0, 0, 0.2),
                inset -2px -2px 5px 0 rgba(255, 255, 255, 0.5);
        }
        &.face--left:active { }
    }

    &:disabled {

        cursor: not-allowed;
    }

    .arrow__container {

        min-width: 56px;
        min-height: 56px;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        &.face--right {

            & :first-child {

                transform: translateY(4px) rotate(-45deg);
            }

            & :last-child {

                transform: translateY(-4px) rotate(45deg);
            }
        }
    
        &.face--left {

            & :first-child {

                transform: translateY(4px) rotate(45deg);
            }

            & :last-child {

                transform: translateY(-4px) rotate(-45deg);
            }
        }

        .arrow__line {
        
            width: 5px;
            height: 20px;
    
            background: #000;

        }
    }
}
